html {
    font-family: 'Jua', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

p {
    font-size: 19px;
    margin: 6px;
}

button {
    font-family: 'Jua', sans-serif;
    font-size: 18px;
    border: none;
    background-color: rgb(255, 0, 0);
    color: white;
    font-weight: lighter;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 1s ease;
}

button:hover {
    background-color: rgba(255, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.side_title {
    position: relative;
}
/* .side_title:before {
    content: 'H B D 🎉 H B D';
    display: 'inline-block';
    width: 300px;
    height: 10px;
    position: absolute;
    top: 195px;
    left: -153px;
    color: black;
    transform: rotate(-90deg);
}

.side_title:after {
    content: 'H B D 🎉 H B D';
    display: 'inline-block';
    width: 300px;
    height: 10px;
    position: absolute;
    top: 212px;
    right: -150px;
    color: black;
    transform: rotate(90deg);
} */